body{
  background: rgb(238,174,202);
background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
text-align: center;
align-items: center;
}
.card {
  background-image: url(../images/clouds.jpg);
  max-width: 500px;
        margin: 50px auto; /* Added */
        float: none; /* Added */
        margin-bottom: 10px; /* Added */
        padding: 40px;

}
